.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    font-family: "Lato", sans-serif;
}

.navbar {
    position: relative;
    padding: 0.5rem;
    background-color: lightblue;
    border-bottom: 5px;
    z-index: 1;    
}

.navbar #app-title {
    text-align: left;
    padding-left: 10px;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    font-style: oblique;
    color: white;
}

.sidebar {
    float: left;
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: lightslategray;
    z-index: 1;
    padding-top: 10px;
}

.sidebar .header {
    text-align: center;
    font-weight: bold;
    color: white;
}

.sidebar .header .chat-rooms-title {
    text-align: center;
    font-size: 25px;
}

.sidebar .header .btn-primary {
    text-align: center;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 16px;
    float: center;
    margin: auto;
    margin-bottom: 15px;
}

.sidebar .header .btn-primary:hover {
    background-color: lightblue;
    cursor: pointer;
}

.sidebar .chat-rooms-list {
    margin-left: 15px;
    color: white;
}